# Load dataset

In [17]:
from datasets import load_dataset

ds = load_dataset("castorini/mr-tydi", "russian")
ds

DatasetDict({
    train: Dataset({
        features: ['query_id', 'query', 'positive_passages', 'negative_passages'],
        num_rows: 5366
    })
    dev: Dataset({
        features: ['query_id', 'query', 'positive_passages', 'negative_passages'],
        num_rows: 1375
    })
    test: Dataset({
        features: ['query_id', 'query', 'positive_passages', 'negative_passages'],
        num_rows: 995
    })
})

In [21]:
import pandas as pd

df = []
for split in ds.keys():
    df.append(ds[split].to_pandas())
df = pd.concat(df).reset_index(drop=True)
df

,query_id,query,positive_passages,negative_passages
0,1,Когда был спущен на воду первый миноносец «Спо...,"[{'docid': '2183682#1', 'text': 'Зачислен в сп...","[{'docid': '4196097#0', 'text': '«Пергамос» — ..."
1,4,Как долго существовало британское телевизионно...,"[{'docid': '1534585#0', 'text': 'Хрустальный л...","[{'docid': '1534585#111', 'text': 'В 1991 году..."
2,6,Когда родилась Князева Марина Леонидовна?,"[{'docid': '4811421#0', 'text': 'Князева Марин...","[{'docid': '4811421#56', 'text': 'В 2009 году ..."
3,11,Кто был главным художником мира Зен?,"[{'docid': '182190#27', 'text': 'В книге Half-...","[{'docid': '4798444#3', 'text': 'В конце игры ..."
4,12,Как звали предполагаемого убийцу Джона Кеннеди?,"[{'docid': '794011#1', 'text': 'Убийство в теч...","[{'docid': '794011#32', 'text': 'По версии Ком..."
...,...,...,...,...
7731,7758,Является ли Гонконг частью Китая?,"[{'docid': '1467#0', 'text': '', 'title': ''},...",[]
7732,7759,Кто был конструктором 76-мм полковой пушки обр...,"[{'docid': '245482#6', 'text': '', 'title': ''}]",[]
7733,7760,Кем впервые были упомянуты меря?,"[{'docid': '260627#3', 'text': '', 'title': ''}]",[]
7734,7761,Что является главной движущей силой постиндуст...,"[{'docid': '85735#2', 'text': '', 'title': ''}]",[]
7735,7762,Когда впервые начали применять компьютерную гр...,"[{'docid': '2444778#2', 'text': '', 'title': ''}]",[]

In [27]:
n = 0
print("query:", df.loc[n, "query"])
print("positive:", df.loc[n, "positive_passages"])
# print("negative:", df.loc[n, "negative_passages"])

query: Когда был спущен на воду первый миноносец «Спокойный»?
positive: [{'docid': '2183682#1', 'text': 'Зачислен в списки ВМФ СССР 19 августа 1952 года. Официальная закладка (при 33 % готовности корпуса) была произведена на заводе № 190 им. А. А. Жданова 4 марта 1953 года (строительный № 701), спущен на воду 28 ноября 1953 года. Испытания корабля были начаты 26 апреля 1954 года на Балтике, испытания артиллерии велись с 8 августа по 8 сентября и с 3 по 16 декабря 1955 года. Корабль принят флотом 27 июня 1956 года, 9 октября 1957 года эсминец вступил в состав Советского Военно-Морского Флота[1].', 'title': 'Спокойный (эсминец)'}]